<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menu List
    </ion-title>
    <ion-searchbar  placeholder='Search' [(ngModel)]="searchTerm" showCancelButton="focus"
    animated>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" collapse="condense">
  

      <ion-list>
        <ion-item *ngFor="let x of ax | filter:searchTerm">
        <h1>{{x}}</h1> </ion-item>
        <ion-item *ngFor="let dosa of dosas | filter:searchTerm">
          <ion-label>{{ dosa }}</ion-label>
          <ion-button (click)="openToast()"> Ok </ion-button>
          <ion-button (click)="openToast()"> Good </ion-button>
          <ion-button (click)="getFdLb(dosa)"> Amazing! </ion-button>
        </ion-item>
        
        <ion-item *ngFor="let x of bx | filter:searchTerm">
          <h1>{{x}}</h1> </ion-item>
        <ion-item *ngFor="let indo of indoCh | filter:searchTerm" >
          <ion-label>{{ indo }}</ion-label>
          <ion-button (click)="openToast()"> Ok </ion-button>
          <ion-button (click)="openToast()"> Good </ion-button>
          <ion-button (click)="getFdLb(indo)"> Amazing! </ion-button>
        </ion-item>

        <ion-item *ngFor="let x of cx | filter:searchTerm">
          <h1>{{x}}</h1> </ion-item>
        <ion-item *ngFor="let tan of tandoori | filter:searchTerm">
            <ion-label>{{ tan }}</ion-label>
            <ion-button (click)="openToast()"> Ok </ion-button>
            <ion-button (click)="openToast()"> Good </ion-button>
            <ion-button (click)="getFdLb(tan)"> Amazing! </ion-button>
        </ion-item>

        <ion-item *ngFor="let x of dx | filter:searchTerm">
          <h1>{{x}}</h1> </ion-item>
          <ion-item *ngFor="let tan of vegApp | filter:searchTerm">
              <ion-label>{{ tan }}</ion-label>
              <ion-button (click)="openToast()"> Ok </ion-button>
              <ion-button (click)="openToast()"> Good </ion-button>
              <ion-button (click)="getFdLb(tan)"> Amazing! </ion-button>
          </ion-item>

          <ion-item *ngFor="let x of ex | filter:searchTerm">
            <h1>{{x}}</h1> </ion-item>
            <ion-item *ngFor="let tan of nonVegApp | filter:searchTerm">
                <ion-label>{{ tan }}</ion-label>
                <ion-button (click)="openToast()"> Ok </ion-button>
                <ion-button (click)="openToast()"> Good </ion-button>
                <ion-button (click)="getFdLb(tan)"> Amazing! </ion-button>
            </ion-item>

            <ion-item *ngFor="let x of fx | filter:searchTerm">
              <h1>{{x}}</h1> </ion-item>
              <ion-item *ngFor="let tan of biryani| filter:searchTerm">
                  <ion-label>{{ tan }}</ion-label>
                  <ion-button (click)="openToast()"> Ok </ion-button>
                  <ion-button (click)="openToast()"> Good </ion-button>
                  <ion-button (click)="getFdLb(tan)"> Amazing! </ion-button>
              </ion-item>

              <ion-item *ngFor="let x of gx | filter:searchTerm">
                <h1>{{x}}</h1> </ion-item>
                <ion-item *ngFor="let tan of famBiryani| filter:searchTerm">
                    <ion-label>{{ tan }}</ion-label>
                    <ion-button (click)="openToast()"> Ok </ion-button>
                    <ion-button (click)="openToast()"> Good </ion-button>
                    <ion-button (click)="getFdLb(tan)"> Amazing! </ion-button>
                </ion-item>

                <ion-item *ngFor="let x of hx | filter:searchTerm">
                  <h1>{{x}}</h1> </ion-item>
                  <ion-item *ngFor="let tan of vegCurries| filter:searchTerm">
                      <ion-label>{{ tan }}</ion-label>
                      <ion-button (click)="openToast()"> Ok </ion-button>
                      <ion-button (click)="openToast()"> Good </ion-button>
                      <ion-button (click)="getFdLb(tan)"> Amazing! </ion-button>
                  </ion-item>

                  <ion-item *ngFor="let x of ix | filter:searchTerm">
                    <h1>{{x}}</h1> </ion-item>
                    <ion-item *ngFor="let tan of nonVegCurries| filter:searchTerm">
                        <ion-label >{{ tan }}</ion-label>
                        <ion-button (click)="openToast()"> Ok </ion-button>
                        <ion-button (click)="openToast()"> Good </ion-button>
                        <ion-button (click)="getFdLb(tan)"> Amazing! </ion-button>
                    </ion-item>

                    <ion-item *ngFor="let x of jx | filter:searchTerm">
                      <h1>{{x}}</h1> </ion-item>
                      <ion-item *ngFor="let tan of wrap| filter:searchTerm">
                          <ion-label>{{ tan }}</ion-label>
                          <ion-button (click)="openToast()"> Ok </ion-button>
                          <ion-button (click)="openToast()"> Good </ion-button>
                          <ion-button (click)="getFdLb(tan)"> Amazing! </ion-button>
                      </ion-item>

                      <ion-item *ngFor="let x of kx | filter:searchTerm">
                        <h1>{{x}}</h1> </ion-item>
                        <ion-item *ngFor="let tan of chaat| filter:searchTerm">
                            <ion-label>{{ tan }}</ion-label>
                            <ion-button (click)="openToast()"> Ok </ion-button>
                            <ion-button (click)="openToast()"> Good </ion-button>
                            <ion-button (click)="getFdLb(tan)"> Amazing! </ion-button>
                        </ion-item>

                        <ion-item *ngFor="let x of lx | filter:searchTerm">
                          <h1>{{x}}</h1> </ion-item>
                          <ion-item *ngFor="let tan of pizza| filter:searchTerm">
                              <ion-label>{{ tan }}</ion-label>
                              <ion-button (click)="openToast()"> Ok </ion-button>
                              <ion-button (click)="openToast()"> Good </ion-button>
                              <ion-button (click)="getFdLb(tan)"> Amazing! </ion-button>
                          </ion-item>

                          <ion-item *ngFor="let x of mx | filter:searchTerm">
                            <h1>{{x}}</h1> </ion-item>
                            <ion-item *ngFor="let tan of curry| filter:searchTerm">
                                <ion-label>{{ tan }}</ion-label>
                                <ion-button (click)="openToast()"> Ok </ion-button>
                                <ion-button (click)="openToast()"> Good </ion-button>
                                <ion-button (click)="getFdLb(tan)"> Amazing! </ion-button>
                            </ion-item>

                            <ion-item *ngFor="let x of nx | filter:searchTerm">
                              <h1>{{x}}</h1> </ion-item>
                              <ion-item *ngFor="let tan of bake| filter:searchTerm">
                                  <ion-label>{{ tan }}</ion-label>
                                  <ion-button (click)="openToast()"> Ok </ion-button>
                                  <ion-button (click)="openToast()"> Good </ion-button>
                                  <ion-button (click)="getFdLb(tan)"> Amazing! </ion-button>
                              </ion-item>

                              <ion-item *ngFor="let x of ox | filter:searchTerm">
                                <h1>{{x}}</h1> </ion-item>
                                <ion-item *ngFor="let tan of naan| filter:searchTerm">
                                    <ion-label>{{ tan }}</ion-label>
                                    <ion-button (click)="openToast()"> Ok </ion-button>
                                    <ion-button (click)="openToast()"> Good </ion-button>
                                    <ion-button (click)="getFdLb(tan)"> Amazing! </ion-button>
                                </ion-item>

                                <ion-item *ngFor="let x of px | filter:searchTerm">
                                  <h1>{{x}}</h1> </ion-item>
                                  <ion-item *ngFor="let tan of desert| filter:searchTerm">
                                      <ion-label>{{ tan }}</ion-label>
                                      <ion-button (click)="openToast()"> Ok </ion-button>
                                      <ion-button (click)="openToast()"> Good </ion-button>
                                      <ion-button (click)="getFdLb(tan)"> Amazing! </ion-button>
                                  </ion-item>

                                  <ion-item *ngFor="let x of qx | filter:searchTerm">
                                    <h1>{{x}}</h1> </ion-item>
                                    <ion-item *ngFor="let tan of bev| filter:searchTerm">
                                        <ion-label>{{ tan }}</ion-label>
                                        <ion-button (click)="openToast()"> Ok </ion-button>
                                        <ion-button (click)="openToast()"> Good </ion-button>
                                        <ion-button (click)="getFdLb(tan)"> Amazing! </ion-button>
                                    </ion-item>

                                    <ion-item *ngFor="let x of rx | filter:searchTerm">
                                      <h1>{{x}}</h1> </ion-item>
                                      <ion-item *ngFor="let tan of extra| filter:searchTerm">
                                          <ion-label>{{ tan }}</ion-label>
                                          <ion-button (click)="openToast()"> Ok </ion-button>
                                          <ion-button (click)="openToast()"> Good </ion-button>
                                          <ion-button (click)="getFdLb(tan)"> Amazing! </ion-button>
                                      </ion-item>

                                      <ion-item *ngFor="let x of sx | filter:searchTerm">
                                        <h1>{{x}}</h1> </ion-item>
                                        <ion-item *ngFor="let tan of thalis| filter:searchTerm">
                                            <ion-label>{{ tan }}</ion-label>
                                            <ion-button (click)="openToast()"> Ok </ion-button>
                                            <ion-button (click)="openToast()"> Good </ion-button>
                                            <ion-button (click)="getFdLb(tan)"> Amazing! </ion-button>
                                        </ion-item>

                                        <ion-item *ngFor="let x of tx | filter:searchTerm">
                                          <h1>{{x}}</h1> </ion-item>
                                          <ion-item *ngFor="let tan of weekSp| filter:searchTerm">
                                              <ion-label>{{ tan }}</ion-label>
                                              <ion-button (click)="openToast()"> Ok </ion-button>
                                              <ion-button (click)="openToast()"> Good </ion-button>
                                              <ion-button (click)="getFdLb(tan)"> Amazing! </ion-button>
                                          </ion-item>

      </ion-list>
  
</ion-content>
